body{
    padding: 20px;
}
input{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    width: 350px;
    border-bottom: 1px dotted orange;
    border-top: 1px dotted orange;
    border-left: 1px dotted orange;
    height: 39px;
}
input:hover{
    border: orangered 1px solid;
}
.inputdiv{
    display: flex;
    width: 39%;
    justify-content: center;
    align-items: end;
}
label{
    margin-right: 25px;
}
.cardbutton{
margin-bottom: 10px;
}
.card{
    border:1px rgb(81, 209, 252) solid;
    box-shadow: 10px 15px 10px 5px  rgba(188, 229, 243, 0.397);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 25px;
}
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.type{
    list-style: none;
    color: brown;
    text-transform: capitalize;
}
.card h4{
    text-decoration-line: underline;
    
}
.card h6{
    text-transform: capitalize;
    color: rgb(0, 184, 230);
}
.card h5{
    text-transform: capitalize;
    font-style: italic;
}
.headerdiv{
    background-color: black;
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    box-shadow: 10px 15px 10px 5px  rgba(168, 219, 236, 0.603);
}
.maindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    font-family: "Cursive" ,Lucida Handwriting;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rundombutton{
    margin-top: 10px;
}
.selectdiv{
    display: flex;
    gap: 10px;
}
.caloriecardtext{
    display: flex;
    justify-content: space-around;
}
.caloriecardfooter{
    display: flex;
    justify-content: space-between;
}
.typemaindiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.typeheaderdiv{
    text-align: center; 
}
.typeheader{
    font-family: "Cursive" ,Lucida Handwriting;
    color: coral;
}
.navbardiv{
    margin-bottom: 15px;
}
.header{
    text-align: center;
    font-family: "Cursive" ,Lucida Handwriting;
}