body{
    padding: 20px;
}
input{
    border-radius: 15px;
    padding: 10px;
}
label{
    margin-right: 25px;
}
.cardbutton{
margin-bottom: 10px;
}
.card{
    border:1px gray solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 25px;
}
.maincontainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}